.header {
    width: 100%;
    height: 50vh;
    padding: 0px 10px;
    background: rgb(70, 20, 71);
    margin-right: 100px;
    margin: -10px;
    margin-bottom: -10px;

}
nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:flex-start;
    padding: 10px;
}
nav ul li {
    display: inline-block;
    list-style: none;
     margin: 5px;
}
nav ul li a {
    text-decoration: none;
    color:azure;
}
.text-box {
    margin-top: 15px;
    max-width: 600px;
}
.text-box h1 {
    justify-content: center;
    color:aliceblue ;
}
.text-box b {
    color: hsla(40, 85%, 44%, 0.869)
}

.text-box p {
    color:aliceblue;
}

.text-box a {
    display: inline-block;
    text-decoration: none;
    color:black;
    padding: 12px;
    font-size: 14pxpx;
    margin-top: 15px ;
    border-radius: 1px ;
    margin-left:10px ;
    background-color:hsla(0, 33%, 94%, 0.986);
    margin-top: 10px;
}
#para {
    color: aliceblue;
}
.user-box {
    position: absolute;
    top: 0;
    left: 450px;
    margin-top: -20px;    
}
.midhalf {
    text-align: center;
    color:black;
    background-color:rgb(242, 236, 228); ;
}
.companies {
    display: flex;
    justify-content:space-around;
    background-color: rgb(242, 236, 228);
}
.bottom {
    background-color: rgb(242, 236, 228);
    text-align: right;
    padding-right: 350px;
    margin-top: 80px;
}
#videotwo {
    text-align: left;
    margin-top: -250px;
}
.endbottom {
    text-align: left;
    padding-left: 60px;
    padding-bottom: 5px;
}
#videothree {
    text-align: right;
    margin-top: -250px;
    padding-right: 300px;
}